#copyButton, #helpMessage, #commandUsageMessage {
<<<<<<< HEAD
    -fx-text-fill: black;
=======
    -fx-text-fill: white;
>>>>>>> master
}

#copyButton {
    -fx-text-fill: white;
    -fx-background-color: #664229;
}

#copyButton:hover {
    -fx-background-color: #c89d7c;
}

#copyButton:armed {
    -fx-background-color: black;
}

#helpMessageContainer, #commandMessageContainer {
    -fx-background-color: #f8f0e3;
}

